/*
JavaScript Final
Author: Trina Moore
Date: 12/9/19
Filename: style.css
*/
body {
  background: url(img/pink_bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

ul {
  list-style-type: circle;
}

#errormessage {
  color: red;
}
